/* Container styles */
#content {
    max-width: 1600px;
    margin: 0 auto; /* Centering */
}

/* Center text in specified elements */
nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
}

/* Background container styles */
#background {
    height: 725px; /* Background height */
}

/* Background colors */
body {
    background-color: #fcfbfb;
}

header {
    background-color: rgba(20, 30, 13, 0.7);
}

nav a:hover {
    background-color: black;
}

.book,
.join {
    background-color: none; /* Replace with desired color */
}

.book:hover,
.join:hover {
    background-color: none; /* Replace with desired hover color */
}

.msg {
    background-color: none; /* Replace with desired color */
}

footer {
    background-color: none; /* Replace with desired color */
}

/* Foreground colors */
nav a {
    text-align: center;
    text-decoration: none;
    color: #fcfbfb; /* Replace with desired color */
}

nav a:hover {
    background-color: black;
    color: #d9c2a3; /* Replace with desired hover color */
}

.home-title,
h4,
.book,
.join,
.msg h2,
.msg p,
footer,
footer a,
footer a:hover {
    color: none; /* Replace with desired text color */
}

/* Width adjustments */
.icon {
    width: 80px; /* Icon width */
}

#hero-img {
    width: 100%; /* Responsive hero image */
}

/* Link styles */
nav a,
.book,
.join,
footer a {
    text-decoration: none; /* Remove underline */
}

footer p {
    font-size: 1.2em; /* Larger footer text */
}

footer p a:hover {
    text-decoration: underline; /* Underline on hover */
}
