@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
    background-color:beige;
    font-size:  24px;
    font-family: "Oswald", Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

nav,footer{
    background-color: steelblue;
    text-align: center;
    display:flex;
    justify-content: space-around;
}
a{
    color: beige;
    padding: 25px;
    font-size: 24px;
}
main a{
    color:black;
    font-size: 1cm;
}
a:hover{
    background-color: beige;
    color:steelblue;
}
.active {
    background-color: beige;
    color: steelblue;
}
h1{
    text-align:center;
}
img{
    width: 30%;
    display: block;
    margin: 50px auto;
}

p {
    width: 70%;
    margin: 25px auto;
    line-height: 1.25em;
    background-color: lightblue;
    padding: 5%;
    border: 5px solid black;
    box-sizing: border-box;
    line-height: 1.5em;
}

footer p {
    color: beige;
    text-align: center;

}